html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
      width:100%;
      height:100vh;

      background-color: black;
      color: white;
}


header {
      width: 100%;
      height: 100vh;
      background-size: cover;
}

.navbar{
   background-color: black;
}

#particles-js
{
background: #000000;
position: relative;
z-index: 2;
}



.header-inner{
  position:absolute;
  width:100%;
  top:0;
  z-index:44;
  left:0;
}
canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
	z-index:1;
    width: 100%;
    height: 100%;
}


.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .intro-content {
  text-align: center;
  position: absolute;
}

.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}

.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .intro .intro-title {
    font-size: 4.5rem;
  }
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .intro .intro-subtitle {
    font-size: 2.5rem;
  }
}

.intro .text-slider-items {
  display: none;
}

.intro-single {
  height: 350px;
}

.intro-single .intro-content {
  margin-top: 30px;
}

.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .intro-single .intro-title {
    font-size: 3.5rem;
  }
}

.intro-single .breadcrumb {
  background-color: transparent;
  color: #0078ff;
}

.intro-single .breadcrumb .breadcrumb-item:before {
  color: #cde1f8;
}

.intro-single .breadcrumb .breadcrumb-item.active {
  color: #cde1f8;
}

.intro-single .breadcrumb a {
  color: #fff;
}
.bg-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;


}

@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}

.overlay-mf {
  background-color: #707070;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .3;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.section-title{
  text-align:center;
  color:white;
}
.section-title h2{
  display: inline-block;
  font-size: 28px;
  border-bottom: 1px solid;
  text-transform: uppercase;
  padding: 0 0 10px;
}
.about-info{
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  z-index: 99;
  color: white;
}
.about-info p{
  line-height: 28px;
  font-size:18px;
}
.service-box {
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  color: white;
text-align:  center;
}

.service-content{
color:white;
}

.service-box .service-ico {
  margin-bottom: 1rem;
  color: white;
}

.service-box .ico-circle {
  font-size: 4rem;

}

.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: .4rem 0;
}

.service-box .s-description {
  color: white;
}
.testimonials .owl-carousel .owl-item img {
  width: auto;
}

.testimonial-box {
  color: #fff;
  text-align: center;
}

.testimonial-box .author-test {
  margin-top: 1rem;
}

.testimonial-box .author-test img {
  margin: 0 auto;
}

.testimonial-box .author {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0;
  display: block;
  font-size: 1.4rem;
}

.testimonial-box .comit {
  font-size: 2rem;
  color: #0078ff;
  background-color: #fff;
  width: 52px;
  height: 52px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .testimonial-box .description {
    padding: 0 5rem;
  }
}

@media (min-width: 992px) {
  .testimonial-box .description {
    padding: 0 8rem;
  }
}

@media (min-width: 1200px) {
  .testimonial-box .description {
    padding: 0 13rem;
  }
}
.padding{
  padding: 20px;
}

.footer{
  background-color: black;
  color: white;
}
